<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DIARA</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
  </head>
  <body>
    <h1>CHANGE-PASSWORD</h1>
    <form class="" action="/change-password" method="post">
      <div><input type="number" name="id"  placeholder="id"></div>
      <div><input type="password" name="oldpassword"  placeholder="old-password"></div>
      <div><input type="password" name="newpassword1" placeholder="new-password"></div>
      <div><input type="password" name="newpassword2" placeholder="retype-password"></div>
      <button>Okay</button>
    </form>
    <a href="/"><button>Back to Index</button></a>
    <h1>{{ message }}</h1>
  </body>
</html>
